body {
    font-family: Arial, sans-serif;
    margin: 20px;
    height: 100vh;
    background-image: radial-gradient( circle 1292px at -13.6% 51.7%,  rgba(0,56,68,1) 0%, rgba(163,217,185,1) 51.5%, rgba(255,252,247,1) 88.6% );
  }
  h2{
    font-size: 2rem;
    text-shadow: 1px 1px 3px white;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input {
    margin-right: 10px;
    padding: 5px;
  }
  input:focus{
    outline-color: red;
}
  
  button {
    padding: 5px 10px;
    transition: transform 0.5s ease-in-out;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
  }
  button:hover{
    transform: scale(1.05);
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  }

  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    border: 1px solid #ccc;
  }
  
  button {
    margin-left: 10px;
  }
  